.slider {
   
    position: relative;
    flex: 1;
    

    background-color: magenta;


    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
           animation: fadein 1s;

    &__img {
        overflow-y: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &--dimmer {
            filter: brightness(80%);
        }
    }


    &__btns {
        & button {
            position: absolute;
            top: 50%;
            font-size: 300%;
            color: white;
            background: none;
            border: none;
            padding-top: 2%;
            padding-bottom: 2rem;
            transition: all .2s ease-in-out;


            outline: none;
            cursor: pointer;
            background-color: rgba(0,0,0,0.0);

            &:hover {
                background-color: rgba(179, 84, 91, 0.8);
            }
        }
    
        &--right {
            right: 0;
            transform: translateY(-50%);
            border-radius: 0.5rem 0 0 0.5rem;
            padding-left: 1.2rem;
            padding-right: 1rem;
        }
        
        &--left {
            left: 0;
            transform: translateY(-50%);
            border-radius: 0 0.5rem 0.5rem 0;
            padding-left: 1rem;
            padding-right: 1.2rem;
            
        }
    }

    &__title {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4.5rem;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        
        &--main {
            font-size: 5rem;
            font-weight: 700;
            padding: 0.5rem 3rem;
            border-bottom: 0.5rem solid white;
        }

        &--sub {
            padding: 0.5 3rem;
            font-size: 5rem;
            font-family: 'Kaushan Script', cursive;
            text-transform: none;
            letter-spacing: 0.5rem;
        }

    }
}


