.contactus {
    color: var(--color-text-dark);
    background-color: var(--color-bg-rose);
    padding: 4rem 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    &__header {
        margin-top: 3rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: 0.2rem;
        font-weight: 800;
        font-family: "Work Sans", "sans-serif";
    }
    
    &__info {
        margin-bottom: 5rem;
    }
    
}

.contactus__info{
    &--line {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0.8rem 0;
        font-size: 1.5rem;
        font-family: "Roboto Condensed", "sans-serif";
    }
    &--icon {
        font-size: 1.5rem;
        margin: 0 2rem;
        height: 100%;
    }
    &--detail{
        color: var(--color-text-primary);
        
        & > a {
            color: var(--color-text-primary);
        
            &:hover {
                text-decoration: underline;
            }       
        }
    }
}

.contactus__form {
    color: var(--color-text-primary);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10rem, 1fr);
    grid-template-areas: 'f f l l l'
                         'e e e e e'
                         'p p p p p'
                         'm m m m m'
                         '. . s . .';
                         
    
    @media only screen and (max-width: $bp-medium) {
        grid-template-areas: 'f f f f f'
                             'l l l l l'
                             'e e e e e'
                             'p p p p p'
                             'm m m m m'
                             '. . s . .';
    }
    
    & input, 
    & textarea {
        background-color: #fff;
        border: none;
        padding: 1.4rem;
        line-height: 1.5;
        font-size: 1.6rem;
        width: 100%;
        font-family: "Roboto Condensed", "sans-serif";
    }
    
    & label {
        display: inline-block;
        color: var(--color-text-dark);
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
        font-weight: 500;
        
        &::after {
            content: ' \2731';
            vertical-align: super;
            font-size: 0.8rem;
        }
    }
    &--firstName {
        grid-area: f;
    }
    
    &--lastName {
        grid-area: l;
    }
    
    &--email {
        grid-area: e;
    }
    
    &--phone {
        grid-area: p;
        
        & label::after {
            content: '';
        }
    }
    
    &--message {
        grid-area: m;
    }
    
    &--submit{
        grid-area: s;
        margin-bottom: 5rem;
    }
}

.contactus__submitted {
    margin: 3rem;
    text-align: center;
    position: relative;
    top: 20%;
    &--title {
        font-size: 2rem;
        color: var(--color-text-dark);
    }
    
    &--check {
        font-size: 10rem;
        color: green;
        padding: 4rem 0;
    }
    
}