.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    background-color: var(--color-bg-dark);
    text-align: center;
    overflow: hidden;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.93,.12,.35,.87);
   
    & li {
        padding: 0;
        margin: 0;
    }
}


.container {
    display: flex;
    height: 100vh;

    background-color: var(--color-bg-rose);

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
    
}

.sidebar {
    flex: 0 0 32rem;
    overflow-y: auto;
    overflow-x: hidden;
    
    text-align: center;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,0.4);

    &__desktop{
        margin-top: 1rem;

        &>* {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__mobile {
        display: none;
                
        @media only screen and (max-width: $bp-medium) {
            display: flex;
            padding: 0 2rem;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }


    @media only screen and (max-width: $bp-medium) {
        flex: 0 0 10rem;
        overflow: hidden;
    }
}

.content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
}

.footer {
    text-align: center;
    margin-bottom: 0;

    font-size: 1.4rem;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-transform: uppercase;
    background-color: var(--color-bg-primary);
    padding: 1.5rem;
    cursor: pointer;

    & a:hover {
        color: var(--color-text-light);
    }

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
    
    &__mobile {
        display: none;
                
        @media only screen and (max-width: $bp-medium) {
            display: block;
            margin-top: auto;
            width: 100%;
            padding: 1.2rem;
            background-color: var(--color-bg-primary);
            border: 1px solid var(--color-bg-primary);
            cursor: pointer;
            
            & a {
                color: var(--color-bg-light);
                font-size: 1.6rem;
                letter-spacing: 0.2rem;
            }
        }
    }
}