 <div id="menu-appetizer" class="menu-main hidden">
    <div class="menu-main__courses">
        <div class="menu-main__courses-left">

            <!---- WRAPPED ROLLS -->
            <div class="item-group">
                <header class="menu-header">Wrapped Rolls</header>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Spring Rolls /<span class="lang-vn">GỎI CUỐN</span>
                    </div>
                    <div class="item-group__item--detail">
                        Lettuce, carrot, rice vermicelli, cilantro served with peanut sauce.
                    </div>
                    <ul>
                        <li>BBQ Pork Tenderloin<span class="menu-price">6</span></li>
                        <li>BBQ Ribeye Steak<span class="menu-price">7</span></li>
                        <li>BBQ Chicken Breast<span class="menu-price">6</span></li>
                        <li>Parboiled Shrimp <span class="menu-price">7</span></li>
                        <li>Grilled Pork, Chicken, or Beef <span class="menu-price">6</span></li>
                        <li class="vegetarian">Tofu (Fried or Fresh) <span class="menu-price">6</span></li>
                    </ul>
                </div>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Crispy Egg Rolls /<span class="lang-vn">CHẢ GIÒ</span>
                    </div>
                    <div class="item-group__item--detail">
                        Served with lettuce, mint, cilantro, sweet and sour sauce.
                    </div>
                    <ul>
                        <li>Ground Pork & Veggies <span class="menu-price">8</span></li>
                        <div class="item-group__item--detail indent">
                            Taro, carrot, mushrooms, clear noodles.
                        </div>
                        <li>Shrimp & Basil <span class="menu-price">12</span></li>
                        <li class="vegetarian">Tofu & Veggies<span class="menu-price">8</span></li>
                        <div class="item-group__item--detail indent">
                            Taro, carrot, mushrooms, clear noodles.
                        </div>
                    </ul>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        PT COMBO APPETIZER<span class="menu-price">13</span>
                    </div>
                    <div class="item-group__item--detail">
                        2 Egg Rolls, 2 Shrimp Egg Rolls, 2 Spring Rolls, 2 Chicken Wings
                    </div>
                </div>
            </div>
                
             <!--- SALADS -->
            <div class="item-group">
                <header class="menu-header">SALADS</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        PT Salad/<span class="lang-vn">GỎI</span>
                    </div>
                    <div class="item-group__item--detail">
                        PT special sauce, onion, cilantro, peanut, served soup on the side.
                    </div>
                    <ul>
                        <li>Cabbage & Chicken Breast<span class="menu-price">12</span></li>
                        <li>Lotus, Pork Tenderloin & Shrimp<span class="menu-price">12</span></li>
                        <li>Green Papaya, Pork Tenderloin, Shrimp<span class="menu-price">12</span></li>
                        <li>Pineapple, Pork Tenderloin & Shrimp<span class="menu-price">14</span></li>
                    </ul>
                </div>
            </div>
        </div>

       <div class="menu-main__courses-left">
             <!---  FUSION -->
            <div class="item-group">
                <header class="menu-header">Fusion</header>
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        PT PHỞ Burrito <span class="menu-price">10</span>
                    </div>
                    <div class="item-group__item--detail">
                        Beef brisket, rice noodles, basil, bean sprouts, sriracha & hoisin sauce. 
                        Served with PHỞ soup.
                    </div>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        PT Tacos
                    </div>
                    <div class="item-group__item--detail">
                        Served with salad and soup on the side.
                    </div>
                    <ul>
                        <li>BBQ Ribeye Steak<span class="menu-price">9</span></li>
                        <li>BBQ Tenderloin Pork<span class="menu-price">7</span></li>
                        <li>BBQ Chicken Breast<span class="menu-price">7</span></li>
                        <li>BBQ Shrimp & Mayonnaise Sauce<span class="menu-price">9</span></li>
                    </ul>
                </div>
            </div>

             <!--- SANDWICHES -->
            <div class="item-group">
                <header class="menu-header">Sandwiches</header>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        BÁNH MÌ
                    </div>
                    <div class="item-group__item--detail">
                        Cucumber, cilantro, carrot, pâté
                    </div>
                    <ul>
                        <li>Grilled Pork<span class="menu-price">6</span></li>
                        <li>Grilled Chicken Breast<span class="menu-price">6</span></li>
                        <li>Grilled Beef<span class="menu-price">7</span></li>
                        <li>Shrimp & Mayonnaise<span class="menu-price">8</span></li>
                        <li>VN Pork Roll<span class="menu-price">6</span></li>
                        <li class="vegetarian">Tofu (Fried or Fresh)<span class="menu-price">6</span></li>
                    </ul>
                </div>
            </div>

             <!--- FRIED -->
            <div class="item-group">
                <header class="menu-header">Fried</header>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Chicken Wings/<span class="lang-vn">CÁNH GÀ CHIÊN</span>
                    </div>
                    <ul>
                        <li>Garlic Butter<span class="menu-price">9</span></li>
                        <li>Sweet & Sour<span class="menu-price">9</span></li>
                        <li>Lemongrass & Chili Oil<span class="menu-price">9</span></li>
                    </ul>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Calamari/<span class="lang-vn">MỰC CHIÊN XÙ</span><span class="menu-price">9</span>
                    </div>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Vietnamese Crêpe /<span class="lang-vn">Bánh Xèo</span><span class="menu-price">8</span>
                    </div>
                    <div class="item-group__item--detail">
                        Pork & Shrimp served with salad, mint and fish sauce.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>