<div id="menu-entrees" class="menu-main">
    <!--- ADD ONS / EXTRAS -->
    <div class="menu-main__extras">
        <header class="menu-header" id="addons-header">Add-Ons</header>
        <ul>
            <li>Pork<span class="menu-price">2</span></li>
            <li>Beef<span class="menu-price">2</span></li>
            <li>Chicken<span class="menu-price">2</span></li>
            <li>Shrimp<span class="menu-price">4</span></li>
            <li class="vegetarian">Tofu<span class="menu-price">2</span></li>
            <li class="vegetarian">Veggies<span class="menu-price">3</span></li>
            <li>Flank Steak<span class="menu-price">2</span></li>
            <li>Beef Tendon<span class="menu-price">2</span></li>
            <li>Brisket<span class="menu-price">2</span></li>
            <li>Meatball<span class="menu-price">2</span></li>
            <li>BBQ Pork Chop<span class="menu-price">4</span></li>
            <li>BBQ Chicken<span class="menu-price">7</span></li>
            <li>BBQ Shrimp<span class="menu-price">4</span></li>
            <li>Crispy Chicken<span class="menu-price">7</span></li>
            <li>Fried Egg<span class="menu-price">1.5</span></li>
            <li class="vegetarian">Stir Fry Noodles<span class="menu-price">3</span></li>
            <li class="vegetarian">Rice Noodles<span class="menu-price">2</span></li>
            <li>Fried Rice<span class="menu-price">3</span></li>
            <li>XL Bowl<br/>(Any Noodle Dish)<span class="menu-price">2</span></li>
        </ul>
    </div>
    
    <div class="menu-main__courses">
        <div class="menu-main__courses-left">
    
            <!--- NOODLES -->
            <div class="item-group">
                <header class="menu-header">NOODLES</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        PHỞ
                    </div>
                    <div class="item-group__item--detail">
                        Bean sprouts, thai basil, lime, jalapenos topped with green onions and cilantros.
                    </div>
                    <ul>
                        <li>PT Pho<span class="menu-price">12</span></li>
                        <div class="item-group__item--detail indent">
                            chicken, beef and Shrimp
                        </div>
                        <li>Combination <span class="menu-price">10</span></li>
                        <div class="item-group__item--detail indent">
                            Rare steak, tendon, brisket, tripe, meatball.
                        </div>
                        <li>Rare Steak<span class="menu-price">8.5</span></li>
                        <li>Brisket <span class="menu-price">8.5</span></li>
                        <li>Meatball<span class="menu-price">8.5</span></li>
                        <li>Chicken<span class="menu-price">9</span></li>
                        <li>Shrimp<span class="menu-price">11</span></li>
                        <li class="vegetarian">Tofu and Veggies<span class="menu-price">9</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Rice Vermicelli /<span class="lang-vn">BÚN </span>
                    </div>
                    <div class="item-group__item--detail">
                        Lettuce, cucumber, bean sprout, carrots, cilantro, peanuts and fish sauce.  <span class="with-soup">Served with soup.</span>
                    </div>
                    <div class="item-group__item--subdetail">BBQ</div>
                    <ul class="menu-content__section--items">
                        <li>Pork & Egg Roll<span class="menu-price">10</span></li>
                        <li>Beef & Egg Roll<span class="menu-price">10</span></li>
                        <li>Chicken & Egg Roll<span class="menu-price">10</span></li>
                        <li>Shrimp & Egg Roll<span class="menu-price">11</span></li>
                    </ul>
                    <div class="item-group__item--subdetail">
                        Stir Fry Lemongrass & Onion
                    </div>
                    <ul class="menu-content__section--items">
                        <li>Beef<span class="menu-price">10</span></li>
                        <li>Chicken<span class="menu-price">10</span></li>
                        <li>Shrimp<span class="menu-price">11</span></li>
                        <li class="vegetarian">Tofu<span class="menu-price">10</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Cambodian Noodles /<span class="lang-vn">Hủ Tiếu Nam Vang</span><span class="menu-price">11</span>
                    </div>
                    <div class="item-group__item--detail">
                        Shrimp, pork, pork liver, pork heart, quail egg, ground pork
                    </div>
                    <div class="item-group__item--detail">CHOICE OF &mdash; Dry or Wet</div>
                </div>  
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Hot & Spicy Noodle Soup /<span class="lang-vn">BÚN BÒ HUẾ</span>
                    </div>
                    <ul>
                        <li>Pork & Beef<span class="menu-price">11</span></li>
                        <li>Beef<span class="menu-price">12</span></li>
                    </ul>
                </div>                           
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        House Stir Fry Noodles</span>
                    </div>
                    <div class="item-group__item--detail">
                        Broccoli, bok choy, carrots
                    </div>
                    <div class="item-group__item--detail">
                        Pick your noodles: Soft Egg &mdash; Soft Rice &mdash; Crispy Egg
                    </div>
                    <ul>
                        <li>Combination<span class="menu-price">13</span></li>
                        <div class="item-group__item--detail indent">
                            Chicken, Beef, & Shrimp
                        </div>
                        <li>Beef<span class="menu-price">11</span></li>
                        <li>Chicken<span class="menu-price">11</span></li>
                        <li>Shrimp<span class="menu-price">13</span></li>
                        <li class="vegetarian">Tofu<span class="menu-price">11</span></li>
                    </ul>
                </div> 
            </div>
    
    
            
            <!--- SALADS -->
            <div class="item-group">
                <header class="menu-header">SALADS</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        PT Salad/<span class="lang-vn">GỎI</span>
                    </div>
                    <ul>
                        <li>Cabbage & Chicken<span class="menu-price">10</span></li>
                        <li>Lotus Salad Pork & Shrimp<span class="menu-price">10</span></li>
                        <li>Papaya Pork & Shrimp<span class="menu-price">10</span></li>
                        <li>Pineapple Pork & Shrimp<span class="menu-price">12</span></li>
                        <li>Beef Salad<span class="menu-price">10</span></li>
                    </ul>
                </div>
            </div>
    
            
        </div>
    
        <!--- RIGHT MENU COLUMN -->
        <div class="menu-main__courses-right">
    
            <!--- RICE PLATES -->
            <div class="item-group">
                <header class="menu-header">
                    RICE PLATES
                </header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        BBQ
                    </div>
                    <div class="item-group__item--detail">
                        Jasmine Rice, lettuce, cucumber, carrots, fish sauce dip. Soup on side.
                    </div>
                    <ul>
                        <li>PT BBQ<span class="menu-price">14</span></li>
                        <div class="item-group__item--detail indent">
                            Pork Chop, Shrimp, ground Shrimp wrapped in bean curd skin
                        </div>
                        <li>Pork Chop<span class="menu-price">10</span></li>
                        <li>Chicken<span class="menu-price">10</span></li>
                        <li>Ribeye Beef<span class="menu-price">16</span></li>
                        <li>Shrimp<span class="menu-price">11</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        WOK DICED AND STIR FRY
                    </div>
                    <div class="item-group__item--detail">
                        Jasmine rice, lettuce, cucumber, carrots. Soup on side.
                    </div>
                    <ul>
                        <li>Ribeye Steak & Egg<span class="menu-price">14</span></li>
                        <li>Salmon & Egg<span class="menu-price">14</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        STIR FRY LEMONGRASS
                    </div>
                    <div class="item-group__item--detail">
                        Jasmine Rice, broccoli, bok choy, carrots. Soup on side.
                    </div>
                    <ul>
                        <li>Chicken<span class="menu-price">11</span></li>
                        <li>Beef<span class="menu-price">11</span></li>
                        <li>Shrimp<span class="menu-price">13</span></li>
                        <li class="vegetarian">Tofu<span class="menu-price">11</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        TERIYAKI 
                    </div>
                    <div class="item-group__item--detail">
                        Broccoli, bok choy, carrots
                    </div>
                    <ul>
                        <li>Chicken<span class="menu-price">11</span></li>
                        <li>Beef<span class="menu-price">11</span></li>
                        <li>Shrimp<span class="menu-price">13</span></li>
                    </ul>
                </div> 
    
                <div class="item-group__item">
                    <div class="item-group__item--name">Fried Rice /<span class="lang-vn">CƠM CHIÊN</span>
                    </div>
                    <div class="item-group__item--detail">
                        Carrots, green peas, eggs.
                    </div>
                    <ul>
                        <li>PT Fried Rice<span class="menu-price">13</span></li>
                        <li>Chicken<span class="menu-price">11</span></li>
                        <li>Beef<span class="menu-price">11</span></li>
                        <li>Shrimp<span class="menu-price">11</span></li>
                        <li class="vegetarian">Tofu<span class="menu-price">11</span></li>
                        <li>Just Eggs<span class="menu-price">8</span></li>
                        <li>Crispy Chicken<span class="menu-price">11</span></li>
                    </ul>
                </div> 
            </div>
    
            <!-- CHEF'S SPECIALS -->
            <div class="item-group">
                <header class="menu-header">Chef's Special</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Orange Chicken<span class="menu-price">11</span>
                    </div>
                    <div class="item-group__item--detail">
                        Served with white rice
                    </div>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Mayonnaise Shrimp<span class="menu-price">13</span>
                    </div>
                    <div class="item-group__item--detail">
                        Served with stir Fry egg noodles
                    </div>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Curry
                    </div>
                    <div class="item-group__item--detail">
                        Potatoes, carrots, white onion. Served with white rice
                    </div>
                    <ul>
                        <li>Chicken<span class="menu-price">10</span></li>
                        <li>Beef<span class="menu-price">10</span></li>
                        <li>Shrimp<span class="menu-price">12</span></li>
                        <li class="vegetarian">Tofu & Veggies<span class="menu-price">10</span></li>
                    </ul>
                </div>
            </div>
    
            <!-- KIDS MENU-->
            <div class="item-group">
                <header class="menu-header">KID'S</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        PHỞ</span>
                    </div>
                    <ul>
                        <li>Well-done Steak<span class="menu-price">5</span></li>
                        <li>Meatball<span class="menu-price">5</span></li>
                        <li>Chicken<span class="menu-price">5</span></li>
                        <li>Shrimp<span class="menu-price">6</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Teriyaki & Rice</span>
                    </div>
                    <ul>
                        <li>Beef<span class="menu-price">6</span></li>
                        <li>Chicken<span class="menu-price">6</span></li>
                        <li>Orange Chicken<span class="menu-price">6</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>