 <div id="menu-dessert" class="menu-main hidden">
    <div class="menu-main__dessert">
            <!---- Cheesecake -->
            <div class="item-group">
                <header class="menu-header">Dessert</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Cheesecake<span class="menu-price">4.5</span>
                    </div>
                    <ul class="drinks-grid">
                        <li>Chocolate</li>
                        <li>Vanilla</li>
                        <li>Strawberry</li>
                    </ul>
                </div>
                
                 <!-- Macaroons -->
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                       Macaroon<span class="menu-price">3.5</span>
                    </div>
                    <ul class="drinks-grid">
                        <li>Chocolate</li>
                        <li>Vanilla</li>
                        <li>Strawberry</li>
                        <li>Mango</li>
                        <li>Green Tea</li>
                    </ul>
                </div> 
            </div>
        </div> 
    </div>
</div>