 <div id="menu-drinks" class="menu-main hidden">
    <div class="menu-main__courses">
        <div class="menu-main__courses-left">
            <!---- ALCOHOLS -->
            <div class="item-group">
                <header class="menu-header">Alcohols</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Beer<span class="menu-price">4.5</span>
                    </div>
                    <ul class="drinks-grid">
                        <li>Singha</li>
                        <li>Sapporo</li>
                        <li>Dos Equis (XX)</li>
                        <li>Tsingtao</li>
                        <li>Blue Moon</li>
                        <li>Corona</li>
                        <li>Bud Light</li>
                        <li>Heineken</li>
                        <li>Tiger</li>
                        <li>Happy Buddha</li>
                    </ul>
                </div>
            
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Wine<span class="menu-price">7</span>
                    </div>
                    <ul class="drinks-grid">
                        <li>Pinot Grigio</li>
                        <li>Chardonnay</li>
                        <li>Pinot Noir</li>
                        <li>Carbernet Sauvignon</li>
                    </ul>
                </div>  
            </div>
            
            <!---- JUICE -->
            <div class="item-group">
                <header class="menu-header">Juice</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Iced Lemonade & Mint<span class="menu-price">4</span>
                    </div>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Orange Juice<span class="menu-price">5</span>
                    </div>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Young Coconut<span class="menu-price">5</span>
                    </div>
                </div>
            </div>
            
            <!-- Smoothies -->
            <div class="item-group">
                <div class="item-group__item">
                    <header class="menu-header">Smoothies</header>
                    
                    <div class="item-group__item--name hoverable">
                       Fresh Fruit w/ Boba<span class="menu-price">6</span>
                    </div>
                    <div class="item-group__item--detail">
                        Extra Boba:<span class="menu-price">1</span>
                    </div>
                       <ul class="drinks-grid">
                           <li>Avocado</li>
                           <li>Strawberry</li>
                           <li>Mango</li>
                           <li>Pineapple</li>
                           <li>Taro</li>
                           <li>Durian</li>
                           <li>Berries</li>
                       </ul>
                    </div>
                </div> 
            </div>
        
        <div class="menu-main__courses-right">
            <!-- Tea -->
            <div class="item-group">
                <div class="item-group__item">
                    <header class="menu-header hoverable">Tea</header>
                    
                    <div class="item-group__item--name hoverable">
                       Jasmine Iced<span class="menu-price">1.5</span>
                    </div>
                </div> 
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                       Hot Tea<span class="menu-price">2.5</span>
                    </div>
                    <ul class="drinks-grid">
                        <li>Chrysanthemum</li>
                        <li>Green</li>
                    </ul>
                </div> 
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Flavored Iced <span class="menu-price">5</span>
                    </div>
                    <ul class="drinks-grid">
                        <li>Passion Fruit</li>
                        <li>Peach</li>
                        <li>Strawberry</li>
                        <li>Pineapple</li>
                        <li>Mango</li>
                        <li>Thai</li>
                    </ul>
                </div> 
            </div>
            
            <!-- Coffee -->
            <div class="item-group">
                <div class="item-group__item">
                    <header class="menu-header">Coffee</header>
                    
                    <div class="item-group__item--name hoverable">
                       Iced or Hot<span class="menu-price hoverable">5</span>
                    </div>
                </div> 
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                       Vietnamese Style<span class="menu-price">6</span>
                    </div>
                </div> 
            </div>
            
            <!-- Soft Drinks-->
            <div class="item-group">
                <div class="item-group__item">
                    <header class="menu-header">Soft Drinks</header>
                    
                    <div class="item-group__item--name hoverable">
                       Fountain (free refills)<span class="menu-price hoverable">2.5</span>
                    </div>
                    <ul>
                        <li>Pepsi</li>
                        <li>Diet Pepsi</li>
                        <li>Mountain Dew</li>
                        <li>Sierra Mist</li>
                        <li>Dr. Pepper</li>
                        <li>Root Beer</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>