<div id="menu-entrees" class="menu-main">
    
    <div class="menu-main__courses">
        <div class="menu-main__courses-left">
    
            <!--- PHO -->
            <div class="item-group">
                <header class="menu-header">PHỞ</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                       Premium PHỞ
                    </div>
                    <ul>
                        <li>PT Beef Ribs<span class="menu-price">15</span></li>
                        <li>PT Filet Mignon<span class="menu-price">15</span></li>
                        <li>PT Lobster Tail (8 oz)<span class="menu-price">20</span></li>
                        <li>PT Seafood<span class="menu-price">18</span></li>
                        <div class="item-group__item--detail indent">
                            Salmon, scallop, & Shrimp.
                        </div>
                    </ul>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Deluxe PHỞ
                    </div>
                    <ul>
                        <li>PT<span class="menu-price">14</span></li>
                        <div class="item-group__item--detail indent">
                            Filet mignon, chicken breast & Shrimp.
                        </div>
                        <li>Combination<span class="menu-price">12</span></li>
                        <div class="item-group__item--detail indent">
                            Rare steak, tendon, brisket & meatball.
                        </div>
                        <li>Rare Steak<span class="menu-price">10</span></li>
                        <li>Brisket <span class="menu-price">10</span></li>
                        <li>Meatball<span class="menu-price">10</span></li>
                        <li>Chicken<span class="menu-price">10</span></li>
                        <li>Shrimp<span class="menu-price">12</span></li>
                        <li class="vegetarian">Tofu and Veggies<span class="menu-price">10</span></li>
                    </ul>
                </div>
            </div>
    
            <!-- CLASSIC NOODLES -->
            <div class="item-group">
                <header class="menu-header">CLASSIC NOODLES</header>
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Cambodian Noodles /<span class="lang-vn">Hủ Tiếu Nam Vang</span><span class="menu-price">13</span>
                    </div>
                    <div class="item-group__item--detail">
                        Shrimp, pork, pork liver, pork heart, quail egg, ground pork
                    </div>
                    <div class="item-group__item--detail">CHOICE OF &mdash; Dry or Wet</div>
                </div>  
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Hot & Spicy Noodle Soup /<span class="lang-vn">BÚN BÒ HUẾ</span>
                    </div>
                    <div class="item-group__item--detail">
                        Rice noodles, bean sprouts, basil, cabbage, jalapenos and lime on side.
                    </div>
                    <ul>
                        <li>Combination<span class="menu-price">13</span></li>
                        <div class="item-group__item--detail indent">
                            Beef shank, pork tenderloin & pork rolls.
                        </div>
                        <li>Beef Shank<span class="menu-price">12</span></li>
                        <li>Pork Tenderloin<span class="menu-price">10</span></li>
                    </ul>
                </div>                           
                
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        HOT & SOUR NOODLES SOUP
                    </div>
                    <div class="item-group__item--detail">
                        Thai hot & sour soup, fresh rice noodles, your choice of meat.
                    </div>
                    <ul>
                        <li>Seafood<span class="menu-price">16</span></li>
                        <li>Beef Filet Mignon<span class="menu-price">15</span></li>
                        <li>Lobster Tail (8 oz)<span class="menu-price">20</span></li>
                    </ul>
                </div>   
            </div>
    
            <!--- STIR FRY NOODLES -->
            <div class="item-group">
                <header class="menu-header">STIR FRY NOODLES</header>
                
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Egg Noodles
                    </div>
                    <div class="item-group__item--detail">
                        Broccoli, bok choy, carrots.
                    </div>
                    <ul>
                        <li>Lobster Tail (8 oz)<span class="menu-price">20</span></li>
                        <li>Garlic Ribeye Beef<span class="menu-price">13</span></li>
                        <li>Garlic Shrimp<span class="menu-price">14</span></li>
                        <li>Garlic Chicken Breast<span class="menu-price">13</span></li>
                        <li>Garlic & Butter<span class="menu-price">8</span></li>
                        <li class="vegetarian">Garlic Tofu<span class="menu-price">13</span></li>
                    </ul>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Pad Thai
                    </div>
                    <div class="item-group__item--detail">
                        Broccoli, bok choy, carrots.
                    </div>
                    <ul>
                        <li>Lobster Tail (8 oz)<span class="menu-price">20</span></li>
                        <li>Garlic Ribeye Beef<span class="menu-price">13</span></li>
                        <li>Garlic Shrimp<span class="menu-price">14</span></li>
                        <li>Garlic Chicken Breast<span class="menu-price">13</span></li>
                        <li class="vegetarian">Garlic Tofu<span class="menu-price">13</span></li>
                    </ul>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Clear Noodles
                    </div>
                    <div class="item-group__item--detail">
                        Broccoli, bok choy, carrots.
                    </div>
                    <ul>
                        <li>Lobster Tail (8 oz)<span class="menu-price">20</span></li>
                        <li>Garlic Shrimp<span class="menu-price">14</span></li>
                        <li>Fried Garlic White Crab<span class="menu-price">18</span></li>
                        <li>Fried Garlic Scallop<span class="menu-price">18</span></li>
                        <li class="vegetarian">Garlic Tofu<span class="menu-price">13</span></li>
                    </ul>
                </div>
                
                 <div class="item-group__item">
                    <div class="item-group__item--name">
                        BBQ Noodles
                    </div>
                    <div class="item-group__item--detail">
                        Stir fry garlic & Italian butter egg noodles. Salad & soup on the side.
                    </div>
                    <ul>
                        <li>Rack of Lamb<span class="menu-price">18</span></li>
                        <li>Ribeye Beef<span class="menu-price">18</span></li>
                        <li>Lobster Tail (8 oz)<span class="menu-price">20</span></li>
                        <li>Shrimp<span class="menu-price">14</span></li>
                        <li>Pork Chop<span class="menu-price">12</span></li>
                    </ul>
                </div>
            </div>
            
            <!-- VERMICILLI BOWLS -->
            <div class="item-group">
                <header class="menu-header">Vermicelli Bowl</header>
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        BBQ
                    </div>
                    <div class="item-group__item--detail">
                        Vermicelli noodles, shredded salad, cucumber, carrots with soup on the side.
                    </div>
                    <ul>
                        <li>Pork Tenderloin & Egg Roll<span class="menu-price">12</span></li>
                        <li>Beef & Egg Roll<span class="menu-price">12</span></li>
                        <li>Chicken Breast & Egg Roll<span class="menu-price">12</span></li>
                        <li>Pork, Shrimp & Egg Roll<span class="menu-price">16</span></li>
                    </ul>
                </div>
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Stir Fry Lemongrass & Onion
                    </div>
                    <ul>
                        <li>Beef<span class="menu-price">12</span></li>
                        <li>Chicken Breast<span class="menu-price">12</span></li>
                        <li>Shrimp<span class="menu-price">14</span></li>
                        <li class="vegetarian">Tofu<span class="menu-price">12</span></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <!--- RIGHT MENU COLUMN -->
        <div class="menu-main__courses-right">
    
            <!--- RICE PLATES -->
            <div class="item-group">
                <header class="menu-header">
                    RICE PLATES
                </header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        BBQ
                    </div>
                    <div class="item-group__item--detail">
                       cucumber, fish sauce dip. Soup on side.
                    </div>
                    <ul>
                        <li>PT BBQ<span class="menu-price">20</span></li>
                        <div class="item-group__item--detail indent">
                            Pork Chop, Shrimp, ground Shrimp wrapped in bean curd skin
                        </div>
                        <li>Ribeye Beef<span class="menu-price">18</span></li>
                        <li>Pork Chop<span class="menu-price">14</span></li>
                        <li>Chicken Breast<span class="menu-price">14</span></li>
                        <li>Pork Chop & Shrimp<span class="menu-price">16</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        WOK DICED AND STIR FRY
                    </div>
                    <div class="item-group__item--detail">
                        Cucumber, fish sauce dip. Soup on side.
                    </div>
                    <ul>
                        <li>Ribeye Steak<span class="menu-price">16</span></li>
                        <li>Salmon<span class="menu-price">14</span></li>
                        <li>Chicken Breast Lemongrass<span class="menu-price">13</span></li>
                        <li>Orange Chicken<span class="menu-price">13</span></li>
                        <li>Mayonnaise Shrimp<span class="menu-price">13</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name">
                        TERIYAKI 
                    </div>
                    <div class="item-group__item--detail">
                        Steamed Broccoli, bok choy, carrots
                    </div>
                    <ul>
                        <li>Chicken Breast<span class="menu-price">13</span></li>
                        <li>Beef<span class="menu-price">13</span></li>
                        <li>Shrimp<span class="menu-price">14</span></li>
                    </ul>
                </div> 
    
                <div class="item-group__item">
                    <div class="item-group__item--name">Fried Rice /<span class="lang-vn">CƠM CHIÊN</span>
                    </div>
                    <div class="item-group__item--detail">
                        Carrots, green peas, eggs.
                    </div>
                    <ul>
                        <li>Chicken Breast<span class="menu-price">13</span></li>
                        <li>Beef<span class="menu-price">13</span></li>
                        <li>Shrimp<span class="menu-price">14</span></li>
                        <li>Just Eggs<span class="menu-price">8</span></li>
                        <li>Crispy Chicken<span class="menu-price">13</span></li>
                        <li class="vegetarian">Tofu & Veggies<span class="menu-price">13</span></li>
                    </ul>
                </div> 
                
                 <div class="item-group__item">
                    <div class="item-group__item--name">
                        Yellow Curry
                    </div>
                    <div class="item-group__item--detail">
                        Vietnamese curry, basil leaf and jasmine rice on the side.
                    </div>
                    <ul>
                        <li>Beef<span class="menu-price">13</span></li>
                        <li>Chicken Breast<span class="menu-price">12</span></li>
                        <li>Shrimp<span class="menu-price">14</span></li>
                        <li class="vegetarian">Tofu & Veggies<span class="menu-price">12</span></li>
                    </ul>
                </div> 
            </div>
    
            <!-- CHEF'S SPECIALS -->
            <div class="item-group">
                <header class="menu-header">Chef's Special</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        PT Hot Stone Plate Filet Mignon<span class="menu-price">25</span>
                    </div>
                    <div class="item-group__item--detail">
                        Grill and eat your choice of meat on a special hot stone. 
                        Served with stir fry garlic egg noodles and french fries. 
                        Salad and soup on the side.

                    </div>
                </div>
            </div>
    
            <!-- KIDS MENU-->
            <div class="item-group">
                <header class="menu-header">KID'S</header>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        PHỞ
                    </div>
                    <ul>
                        <li>Well-done Steak<span class="menu-price">6</span></li>
                        <li>Meatball<span class="menu-price">6</span></li>
                        <li>Chicken<span class="menu-price">6</span></li>
                        <li>Shrimp<span class="menu-price">7</span></li>
                    </ul>
                </div>
    
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Teriyaki & Rice
                    </div>
                    <ul>
                        <li>Beef<span class="menu-price">6</span></li>
                        <li>Chicken<span class="menu-price">6</span></li>
                        <li>Orange Chicken<span class="menu-price">7</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>