 <div id="menu-appetizer" class="menu-main hidden">
    <div class="menu-main__courses">
        <div class="menu-main__courses-left">

        <!---- APPETIZERS -->
            <div class="item-group">
                <header class="menu-header">Wrapped Rolls</header>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Spring Rolls /<span class="lang-vn">GỎI CUỐN</span>
                    </div>
                    <div class="item-group__item--detail">
                        Lettuce, rice vermicelli, cilantro served with peanut sauce.
                    </div>
                    <ul>
                        <li>Shrimp and Pork <span class="menu-price">4.5</span></li>
                        <li>Shrimp <span class="menu-price">5</span></li>
                        <li>Grilled Pork, Chicken, or Beef <span class="menu-price">5</span></li>
                        <li class="vegetarian">Tofu <span class="menu-price">4.5</span></li>
                    </ul>
                </div>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Crispy Egg Rolls /<span class="lang-vn">CHẢ GIÒ</span>
                    </div>
                    <div class="item-group__item--detail">
                        Taro, onion, mushroom, clear noodles. Served with fish sauce
                    </div>
                    <ul>
                        <li>Ground Pork & Veggies <span class="menu-price">7</span></li>
                        <li>Shrimp & Basil <span class="menu-price">10</span></li>
                        <li class="vegetarian">Tofu & Veggies<span class="menu-price">7</span></li>
                    </ul>
                </div>

                

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        PT COMBO APPETIZER<span class="menu-price">13</span>
                    </div>
                    <div class="item-group__item--detail">
                        2 Egg Rolls, 2 Shrimp Egg Rolls, 2 Spring Rolls, 2 Chicken Wings
                    </div>
                </div>
            </div>
        </div>

       <div class="menu-main__courses-left">
            <div class="item-group">
                <header class="menu-header">Sandwiches</header>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        BÁNH MÌ
                    </div>
                    <div class="item-group__item--detail">
                        Cucumber, cilantro, carrots, pâté
                    </div>
                    <ul>
                        <li>Grilled Pork<span class="menu-price">5</span></li>
                        <li>Grilled Chicken<span class="menu-price">5</span></li>
                        <li>Grilled Beef<span class="menu-price">5</span></li>
                        <li>Pork Roll<span class="menu-price">5</span></li>
                        <li class="vegetarian">Tofu<span class="menu-price">5</span></li>
                    </ul>
                </div>
            </div>

            <div class="item-group">
                <header class="menu-header">Fried</header>

                <div class="item-group__item">
                    <div class="item-group__item--name">
                        Chicken Wings/<span class="lang-vn">CÁNH GÀ CHIÊN</span>
                    </div>
                    <ul>
                        <li>Garlic Butter<span class="menu-price">9</span></li>
                        <li>Sweet & Sour<span class="menu-price">9</span></li>
                        <li>Lemongrass & Chili Oil<span class="menu-price">9</span></li>
                    </ul>
                </div>
                
                <div class="item-group__item">
                    <div class="item-group__item--name hoverable">
                        Calamari/<span class="lang-vn">MỰC CHIÊN XÙ</span><span class="menu-price">9</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>