{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="google" content="notranslate">

        <!-- VENDOR CSS -->
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> 

        <link rel="stylesheet"
          href="{% static "js/vendor/animate.min.352.css" %}">
        <link rel="stylesheet" href="{% static "js/vendor/aos.css" %}" />
        <!-- END VENDOR CSS -->
        
        <link rel="stylesheet" href="{% static "css/styles.css" %}">

        {% block head %}{% endblock%}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="modal__callnow">
            <div class="callnow--close">&times;</div>
            <div class="callnow--card">
                <div class="callnow--card__item">
                    <div>Phoenix</div>
                    <div>602-358-7037</div>
                    <div><a href="tel:602-358-7037"><i class="fas fa-phone"></i></a></div>
                </div>    
                <div class="callnow--card__item">
                    <div>Avondale</div>
                    <div>623-936-7633</div>
                    <div><a href="tel:623-936-7633"><i class="fas fa-phone"></i></a></div>
                </div>    
                <div class="callnow--card__item">
                    <div>Surprise</div>
                    <div>623-322-8399</div>
                    <div><a href="tel:623-322-8399"><i class="fas fa-phone"></i></a></div>
                </div>    
                <div class="callnow--card__item">
                    <div>Goodyear</div>
                    <div>623-536-2099</div>
                    <div><a href="tel:623-536-2099"><i class="fas fa-phone"></i></a></div>
                </div>    
            </div> 
        </div>
        {% block modal %}{% endblock %}
        
        <!-- MOBILE NAVS -->
        <div class="hamburger">
            <div class="hamburger__bar1"></div>
            <div class="hamburger__bar2"></div>
            <div class="hamburger__bar3"></div>
        </div>
        
        <div class="nav-mobile navs">
            <!-- MOBILE MAIN NAVS -->
            <nav id="nav-mobile--main">
                <ul>
                    <li><a href="{% url "index" %}">home</a></li>
                    <li><a href="{% url "locations" %}">locations</a></li>
                    <li><a href="#" id="mobile__links--menus">menus</a></li>
                    <li><a href="{% url "gallery" %}">gallery</a></li>
                    <li><a href="{% url "contact" %}">contact</a></li>
                </ul>
                
                <div class="social">
                    <ul>
                        <li>
                            <a href="{% url "locations" %}#locations" >
                                <i class="fab fa-facebook-f circular"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "locations" %}#locations"><i class="fab fa-yelp circular"></i></a>
                        </li>
                        <li>
                            <a href="{% url "contact" %}#contactus"><i class="fas fa-envelope circular"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <!-- MOBILE MENU NAVS -->
            <nav class="navs--menus hidden" id="nav-mobile--menus">
                <h2 class="navs--menus__heading">Menus</h2>
                <ul>
                    <li><a href="{% url 'menus' location="avondale" %}">Avondale</a></li>
                    <li><a href="{% url 'menus' location="surprise" %}">Surprise</a></li>
                    <li><a href="{% url 'menus' location="goodyear" %}">Goodyear</a></li>
                    <li>
                        <a href="{% url 'menus' location="phoenix" %}">
                            Phoenix
                            <span class="tag">New</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-arrow-alt-circle-left back-arrow" id="back-arrow--mobile"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <!-- END MOBILE NAVS -->
        
        <div class="container">
            <div class="sidebar">
                <div class="sidebar__desktop">
                    <header class="logo">
                        <a href="{% url "index" %}">
                            <div class="logo__main">
                                PT NOODLES
                            </div>
                            <div class="logo__sub">
                                Vietnamese Restaurant
                            </div>
                        </a>
                    </header>

                    <div>
                        <a href="{% url "index" %}">
                            <img 
                                src="https://s3-us-west-2.amazonaws.com/mwee-images/pt-logo-emblem-only-white.png" class="emblem"
                            />
                        </a>
                    </div>

                    <!--
                    <div class="contact-info">
                        <div class="contact-info__addr">
                            Now serving 5 locations in Arizona!
                        </div>
                    </div>
                    -->

                    <nav class="navs" id="main-navs">
                        <ul>
                            <li><a href="{% url "locations" %}" id="navs__link--locations">locations</a></li>
                            <li><a href="#" id="navs__link--menus">menus</a></li>
                            <li><a href="{% url "gallery" %}">gallery</a></li>
                            <li><a href="{% url "contact" %}">contact</a></li>
                        </ul>
                        
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="{% url "locations" %}#locations" >
                                        <i class="fab fa-facebook-f circular"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "locations" %}#locations"><i class="fab fa-yelp circular"></i></a>
                                </li>
                                <li>
                                    <a href="{% url "contact" %}#contactus"><i class="fas fa-envelope circular"></i></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <nav class="navs--menus animated slideInLeft hidden" id="nav-main--menus">
                        <h2 class="navs--menus__heading">Menus</h2>
                        <ul>
                            <li><a href="{% url 'menus' location="avondale" %}">Avondale</a></li>
                            <li><a href="{% url 'menus' location="surprise" %}">Surprise</a></li>
                            <li><a href="{% url 'menus' location="goodyear" %}">Goodyear</a></li>
                            <li>
                                <a href="{% url 'menus' location="phoenix" %}">
                                    Phoenix
                                    <span class="tag">New</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-arrow-alt-circle-left back-arrow" id="back-arrow--main"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

                <!-- MOBILE HEADER -->
                <div class="sidebar__mobile">
                    <div>
                        <img 
                            src="https://s3-us-west-2.amazonaws.com/mwee-images/pt-logo-emblem-only-white.png" 
                            class="emblem__mobile"
                        />
                    </div>
                    <div class="logo__mobile">PT Noodles</div>
                </div>
                <!-- END MOBILE HEADER -->
                
                <!-- MOBILE FOOTER -->
                <div class="footer__mobile">
                    <h4><a href="#" class="footer__mobile--btn">Call now to order</a></h4>
                </div>
                <!-- END MOBILE FOOTER -->

                <div class="footer">
                    <h4><a href="#">Call now to order</a></h4>
                </div>
            </div>

            <!------------------------ 
                MAIN RIGHT CONTENT
            ------------------------>
            <div id="content" class="content">
                {% block content %}{% endblock %}
            </div>
            
        </div>
        
        <!---------------- SCRIPTS ------------>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            document.getElementById("content").addEventListener("scroll", function(){
                AOS.init();
            });
        </script>
        
        <script type="text/javascript" src="{% static "js/live.js" %}"></script>
        
        
        <script src="{% static "js/global.js" %}"></script>
        {% block scripts %}{% endblock %}
        <!--------- END SCRIPTS --------------->
    </body>
</html>