{% extends "base.html" %}
{% load static %}

{% block content %}
<!--
<div class="slider">
    <div 
        class="slider__img" 
        style="background-image: url({% static 'img/hero.jpg' %})">
    </div>
    <div 
        class="slider__img"
        style="background-image: url({% static 'img/hero2.jpeg' %})">
    </div>
    <div 
        class="slider__img" 
        style="background-image: url({% static 'img/hero3.jpeg' %})">
    </div>

    <div class="slider__btns">
        <button class="slider__btns--left" onclick="plusDivs(-1)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            
        </button>
        <button class="slider__btns--right" onclick="plusDivs(1)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
    </div>
</div>
-->

<!-- Notification bar -->
{% if not alertShown %}
<div id="notification-bar">
    <h3>We have <a href="{% url 'locations' %}#phoenix-7th">two new locations</a> opening in Phoenix, AZ. Stay tuned!</h3>    
    <a class="close"><i class="fas fa-times"></i></a>
</div>
{% endif %}

<div id="index">
    <div class="index__hero">
        <div class="index__hero--img">
            <img src="{% static 'img/truehero1.jpg' %}" />
        </div>
        <div class="index__hero--img">
            <img src="{% static 'img/truehero3.jpg' %}"/>
        </div>
        <div class="index__hero--img">
            <img src="{% static 'img/truehero2.jpg' %}"/>
        </div>
        <div class="index__hero--img">
            <img src="{% static 'img/truehero4.jpg' %}"/>
        </div>
        
        
        <div class="index__hero--title">
            <div>Fresh</div>
            <div>House Made Noodles</div>
            <div><i>Everyday</i></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}