{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="banner">
    <div class="slider">
        <div 
            class="slider__img slider__img--dimmer" 
            style="background-image: url({% static 'img/location-hero.jpeg' %})">
        </div>
    
        <div class="slider__title">
            <div class="slider__title--main">Locations</div>
        </div>
    </div>
</div>

<div id="locations">
    <div class="card animated fadeInUp">
        <div class="card__social">
            <a href="https://www.yelp.com/biz/pt-noodles-avondale-avondale-2" target="_blank" class="">
                <i class="fab fa-yelp card__social--icons"></i>
            </a>
            <a href="https://www.facebook.com/ptnoodlesavondale/" target="_blank" class="">
                <i class="fab fa-facebook-f card__social--icons"></i>
            </a>
        </div>
        
        <div class="card__container">
            <h2>Avondale, AZ</h2>
            
            
            <div class="card__contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="card__addr">
                    10220 W McDowell Rd <br/>
                    Ste 150 <br/>
                    Avondale, AZ 85392
                </p>
                
                <i class="fas fa-phone"></i>
                <a href="tel:623-936-7633" class="card__phone">(623) 936-7633</a>
                
                <i class="fas fa-clock"></i>
                <p class="card__hours">Everyday 11 AM &mdash; 10 PM</p>
            </div>
            
            
            <a href="https://goo.gl/maps/8GuvXEkKsKo" target="_blank" class="btn card__btn">Directions</a>
            <a href="#" class="btn card__btn">Menus</a>
        </div>
    </div>
   
    <div class="card"
        data-aos="fade-up" 
        data-aos-offset="-50"
        data-aos-easing="ease-in-out" 
        data-aos-duration="1000">
        <div class="card__social">
            <a href="https://www.yelp.com/biz/pt-noodle-surprise-2" target="_blank" class="">
                <i class="fab fa-yelp card__social--icons"></i>
            </a>
            <a href="https://www.facebook.com/ptnoodlessurprise/" target="_blank" class="">
                <i class="fab fa-facebook-f card__social--icons"></i>
            </a>
        </div>
        
        <div class="card__container">
            <h2>Surprise, AZ</h2>
            
            <div class="card__contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="card__addr">
                    13749 N Litchfield Rd </br>
                    Ste G109<br/>
                    Surprise, AZ 85379
                </p>
                
                <i class="fas fa-phone"></i>
                <a href="tel:623-322-8399" class="card__phone">(623) 322-8399</a>
                
                <i class="fas fa-clock"></i>
                <p class="card__hours">Everyday 10:30 AM &mdash; 9:30 PM</p>
            </div>
            
            <a href="https://goo.gl/maps/462KAofdaDM2" target="_blank" class="btn card__btn">Directions</a>
            <a href="#" class="btn card__btn">Menus</a>
        </div>
    </div> 
    
    <div class="card" 
        data-aos="fade-up" 
        data-aos-offset="-50"
        data-aos-easing="ease-in-out" 
        data-aos-duration="1000">
        <div class="card__social">
            <a href="https://www.yelp.com/biz/pt-noodles-goodyear" target="_blank" class="">
                <i class="fab fa-yelp card__social--icons"></i>
            </a>
            <a href="https://www.facebook.com/ptnoodlesgoodyear/" target="_blank" class="">
                <i class="fab fa-facebook-f card__social--icons"></i>
            </a>
        </div>
        
        <div class="card__container">
            <h2>Goodyear, AZ</h2>
            
            <div class="card__contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="card__addr">
                    1375 N Litchfield Rd <br>
                    Ste 101<br/>
                    Goodyear, AZ 85395
                </p>
                
                <i class="fas fa-phone"></i>
                <a href="tel:623-536-2099" class="card__phone">(623) 536-2099</a>
                
                <i class="fas fa-clock"></i>
                <p class="card__hours">Everyday 9:30 AM &mdash; 8:30 PM</p>
            </div>
            <a href="https://goo.gl/maps/9LP1YgdTqtS2" target="_blank" class="btn card__btn">Directions</a>
            <a href="#" class="btn card__btn">Menus</a>
        </div>
    </div>
    
    <div id="phoenix" class="card animated fadeInUp">
        <div class="card__social">
            <a href="https://www.yelp.com/biz/pt-noodles-phoenix" target="_blank" class="">
                <i class="fab fa-yelp card__social--icons"></i>
            </a>
            <a href="https://www.facebook.com/ptcamelback/" target="_blank" class="">
                <i class="fab fa-facebook-f card__social--icons"></i>
            </a>
        </div>
        
        <div class="card__container">
            <span class="tag tag-card">NEW!</span>
            <h2>Phoenix, AZ</h2>
            <div class="card__contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="card__addr">
                    702 W Camelback Rd <br/>
                    Ste 1<br/>
                    Phoenix, AZ 85013
                </p>
                
                <i class="fas fa-phone"></i>
                <a href= "tel:602-358-7037" class="card__phone">(602) 358-7037</a>
                
                <i class="fas fa-clock"></i>
                <p class="card__hours">Everyday 10 AM &mdash; 9 PM</p>    
            </div>
            
            <a href="https://goo.gl/maps/u2bd5mZrWUx" target="_blank" class="btn card__btn">Directions</a>
            <a href="#" class="btn card__btn">Menus</a>
        </div>
    </div>
    
     <div id="glendale" class="card" 
            data-aos="fade-up" 
            data-aos-offset="-50"
            data-aos-easing="ease-in-out" 
            data-aos-duration="1000">
        <div class="card__social">
            <a href="#" class=""><i class="fab fa-yelp card__social--icons"></i></a>
            <a href="#" class=""><i class="fab fa-facebook-f card__social--icons"></i></a>
        </div>
        
        <div class="card__container">
            <span class="tag tag-card open-soon">Coming!</span>
            
            <h2>Glendale, AZ</h2>
            
            <div class="card__contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="card__addr">
                    9284 West Northern Avenue <br/>
                    Suite 101<br/>
                    Glendale, AZ 85305
                </p>
                
                <!--  
                <i class="fas fa-phone"></i>
                <p class="card__phone">(669) 222-3333</p>
                
                <i class="fas fa-clock"></i>
                <p class="card__hours">Everyday 10 AM &mdash; 9 PM</p>    
                -->
            </div>
            <!--
            <a href="#" class="btn btn__card">Directions</a>
            <a href="#" class="btn btn___card">Menus</a>
            -->
        </div>
    </div>
</div>
{% endblock %}

        
{% block scripts %}
{% endblock %}