{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="scroll-to-top">
    <a href="#anchor--menus">
        <i class="fas fa-chevron-circle-up"></i>
    </a>
</div>

<div class="banner">
    <div class="banner__img" 
        
        {% if location == 'avondale' %}
            style="background-image: url({% static 'img/avondale-menu-hero.jpeg' %})"
        {% elif location == 'goodyear' %} 
            style="background-image: url({% static 'img/goodyear-menu-hero.jpeg' %})"
        {% elif location == 'surprise' %}
            style="background-image: url({% static 'img/surprise-menu-hero.jpeg' %})"
        {% elif location == 'phoenix' %}
            style="background-image: url({% static 'img/phoenix-menu-hero.jpeg' %})"
        {% endif %}>
    </div>
    
    <div class="banner__title">
        <div class="banner__title--main">Menus</div>
        <div class="banner__title--sub">{{ location|title }}</div>
    </div>
</div>
    
<div id="anchor--menus" style="padding: 1.5rem"></div>

<div id="menu-main" class="main">
    <div id="menu-nav" class="menu-nav">
        <a href="#menu-main" id="menu-appetizer-btn" class="menu-nav__links">Appetizer</a>
        <a href="#menu-main" id="menu-entrees-btn" class="menu-nav__links selected">Entrees</a>
        <a href="#menu-main" id="menu-drinks-btn" class="menu-nav__links">Drinks</a>
        <a href="#menu-main" id="menu-dessert-btn" class="menu-nav__links">Dessert</a>
    </div>
    
    <div class="download-pdf">
        <a href="{% static "docs/PTNoodles_Main_Menus.pdf" %}" download>
            <h4>Download PDF <i class="fas fa-file-download"></i></h4>
        </a>
    </div>
    
    <div id="menu-content" class="menu-content">
        {% if location == 'surprise' %}
            {% include "includes/menus-surprise_appetizer.html" %}
            {% include "includes/menus-surprise_entrees.html" %}
            {% include "includes/menus-surprise_drinks.html" %}
        {% else %}
            {% include "includes/menus-main_appetizer.html" %}
            {% include "includes/menus-main_entrees.html" %}
            {% include "includes/menus-main_drinks.html" %}
        {% endif %}
        
        {% include "includes/menus-main_dessert.html" %}
    </div>
</div>
{% endblock %}

        
{% block scripts %}
    <script src="{% static "js/menus.js" %}"></script>
{% endblock %}